{namespace f2portfolio=Tx_F2portfolio_ViewHelpers}
<div class="projectslist">
        <f:for each="{projects}" as="project">
            <div class="projectmini">   
                    <f:for each="{project.images}" as="image">
                        <f:if condition="{f2portfolio:pregmatch(subject: '{image.name}', pattern: '~Thumbnail~')}">
                            <f:image src="uploads/pics/{image.file}" alt="{image.alttext}" width="200px" />
                        </f:if>
                    </f:for>
                <h4><f:link.action action="show" arguments="{selectedProject: project}">{project.name}</f:link.action></h4>
                    <f:format.crop maxCharacters="200" respectWordBoundaries="true"><f:format.html >{project.description}</f:format.html></f:format.crop>
            </div>
        </f:for>
</div>